<launch>
  <master auto="start"/>
  <arg name="map" value="emptyorchard"/>

  <!-- Run the robot sdk interface -->
  <include file="$(find or_bringup)/launch/or_base.launch" />

  <!-- Publish static tf -->
  <include file="$(find or_bringup)/launch/static_tf.launch" />

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find or_bringup)/maps/$(arg map).yaml" respawn="false" />

  <!-- Run the lidar node -->
  <include file="$(find rplidar_ros)/launch/rplidar_s1.launch" />
  
  <!-- Run the slam node -->
  <rosparam command="load" file="$(find or_slam)/config/or_slam.yaml" />
  <rosparam command="load" file="$(find or_slam)/fastslamalgs/config/fastslam.yaml" />
  <node pkg="or_slam" name="or_slam_node" type="or_slam_node" output="screen"/>

  <!-- Run the rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find or_bringup)/rviz/roborts.rviz" />

</launch>
