<launch>
  <node pkg="or_detection" name="trunkdetection_node" type="trunk_detection.py"/>
  <!-- <include file="$(find rplidar_ros)/launch/rplidar_s1.launch"/>
  <node pkg="or_slam" name="fastslam_node" type="fastslam_node" output="screen" respawn="true"/> -->
  <rosparam command="load" file="$(find or_base)/config/or_base_parameter.yaml" />
  <node pkg="or_base" type="or_base_node" name="or_base_node" output="screen"/>
</launch>
