<launch>
  <master auto="start"/>
  
  <!-- Run the detection node -->
  <node pkg="or_detection" name="trunkdetection_node" type="trunk_detection_laser_cam.py"/>
  
  <!-- Run the lidar node -->
  <include file="$(find rplidar_ros)/launch/rplidar_s1.launch" />

  <!-- Run the camera node -->
  <include file="$(find hk_camera)/launch/hk_camera_show.launch" />
</launch>
